<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h2 style="color: aliceblue">Angular CRUD</h2>
    <div class="d-flex">
      <button
        type="button"
        class="btn btn-success"
        data-toggle="modal"
        data-target="#exampleModal"
        (click)="clickAddEmploy()"
      >
        Add Employee
      </button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Employee ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email ID</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">Salary</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeeData">
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.mobile }}</td>
      <td>{{ employee.salary }}</td>
      <td>
        <button
          class="btn btn-info"
          type="button"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="onEdit(employee)"
        >
          Edit
        </button>
        <button class="btn btn-danger mx-2" (click)="deleteEmployee(employee)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="inputFirstName">First Name</label>
            <input
              type="text"
              class="form-control"
              id="inputFirstName"
              aria-describedby="emailHelp"
              formControlName="firstName"
            />
          </div>
          <div class="form-group">
            <label for="inputLastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              id="inputLastName"
              aria-describedby="emailHelp"
              formControlName="lastName"
            />
          </div>
          <div class="form-group">
            <label for="inputEmail">Email ID</label>
            <input
              type="text"
              class="form-control"
              id="inputEmail"
              aria-describedby="emailHelp"
              formControlName="email"
            />
          </div>
          <div class="form-group">
            <label for="inputMobileNumber">Mobile Number</label>
            <input
              type="text"
              class="form-control"
              id="inputMobileNumber"
              aria-describedby="emailHelp"
              formControlName="mobile"
            />
          </div>
          <div class="form-group">
            <label for="inputSalary">Salary</label>
            <input
              type="text"
              class="form-control"
              id="inputSalary"
              aria-describedby="emailHelp"
              formControlName="salary"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="cancel"
          class="btn btn-secondary"
          data-dismiss="modal"
        >
          Close
        </button>
        <button
          *ngIf="showAdd"
          type="button"
          (click)="postEmployee()"
          class="btn btn-primary"
        >
          Add
        </button>
        <button
          *ngIf="showUpdate"
          type="button"
          (click)="updatedEmployee()"
          class="btn btn-primary"
        >
          Updated
        </button>
      </div>
    </div>
  </div>
</div>
